# Forzamos a pnpm a no usar el fetch experimental de Node
node-linker=hoisted
symlink=false
strict-peer-dependencies=false
# Aumentamos los reintentos de red por si el registro de npm está lento
fetch-retries=5
fetch-retry-maxtimeout=60000